@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


.bodyFont{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.heading{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
}

.root{
  min-height: 100vh;
}
